<form
[formGroup]="formAutorisation"
(ngSubmit)="DemandeAutorisation()"
>
<div class="row">
  <div class="col-sm-4">
    <div class="mb-3">
      <label for="productname">Date demande</label>
      <input
        id="productname"
        name="productname"
        type="text"
        class="form-control"
        formControlName="dateDemande"
        readonly
      />
    </div>
   
    <div class="mb-3">
      <label for="manufacturername">Heure sortie </label>
      <input
        id="manufacturername"
        name="manufacturername"
        type="text"
        class="form-control"
        formControlName="heurS"
     
        title="Veuillez entrer le montant"
      />
      </div>
      <div class="mb-3">
        <label for="manufacturername">Heure retour </label>
        <input
          id="manufacturername"
          name="manufacturername"
          type="text"
          class="form-control"
          formControlName="heurR"
         
          title="Veuillez entrer l'heure de retour"
          
        />
      </div>
  
   
    </div>
   
  
  <div class="col-sm-4">
    <div class="mb-3">
      <label>Date début</label>
      <input
        type="text"
        class="form-control"
        title="Veuillez entrer la date de début"
        placeholder="jj/MM/yyyy"
        formControlName="datDebut"
        #myInputDateEmbauche
      />
    </div>
  
    <div class="mb-3">
      <label for="manufacturername">Minute sortie </label>
      <input
        id="manufacturername"
        name="manufacturername"
        type="text"
        class="form-control"
        title="Veuillez entrer l'heure de sortie"
        mask="00"
        formControlName="minS"
      
      />
    </div>



    
    <div class="mb-3">
      <label for="manufacturername">Minute retour </label>
      <input
      
        id="manufacturername"
        name="manufacturername"
        type="text"
        class="form-control"
        formControlName="minR"
        title="Veuillez entrer la minute de retour"
 
      />
    </div>
 
  
</div>

<div class="col-sm-4">
  <div class="mb-3">
    <label class="control-label">Type autorisation </label>
    <input
    id="manufacturername"
    name="manufacturername"
    title="Veuillez choisir le motif"
    type="text"
    class="form-control"
    formControlName="codAut"
  >
 
  </div>
  <div class="mb-3">
    <label for="manufacturername">"Motif" </label>
    <textarea
      id="manufacturername"
      name="manufacturername"
      title="Veuillez choisir le motif"
      type="text"
      class="form-control"
      formControlName="txtDem"
    ></textarea>
  </div>
  <div class="mb-3">
    <div class="text-center">
      <input
        class="form-control"
        type="file"
        (change)="onChange($event)"
      />
    </div>
  </div>
 
</div>

</div>

<div class="d-flex flex-wrap gap-2 mt-2">
  <button type="submit" 
  [disabled]="formAutorisation.invalid"
  class="btn btn-primary">"Enregistrer"</button>
</div>
</form>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
     
    </tr>
  </thead>
  <tbody>
 
    <tr  *ngFor="let i of dem">
      <td>{{i.id_libre_demande}}</td>
      <td><a href="javascript:void(0);" (click)="  downloadFile(i)">Download File</a></td>
    </tr>
</table>
